.navigation {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    padding: 0 0 5rem 0;
}

.author {
    color: #eec847;
}

.menu {
    color: #eec847;
    cursor: pointer;
    transition: 0.25s color;
}

.menu:hover {
    color: #fff;
    transition: 0.25s color;
}

@media screen and (max-width: 767px) {
    .navigation {
        padding: 0 0 3rem 0;
    }
}
