.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
}

.h1 {
    color: #eec847;
    text-transform: capitalize;
}

.section {
    padding: 0 0 15rem 0;
}
